* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #15494D;
}

main {
    background-color: #217479;
}

h1 {
    font-size: 2em;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
}

.game {
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

.new_game {
    background-color: #15494D;
    color: #ffffff;
    padding: 10px;
    margin: 20px auto;
    display: inline-block;
}

.new_game:hover {
    background-color: #1D5D61;
}

.square {
    height: 100px;
    width: 100px;
    background-color: #3DA6AC;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #217479;
    color: transparent;
}