* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica,
        sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #15494D;
}


h1 {
    font-size: 2em;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
}

p {
    font-family: Arial;
    font-size: 1em;
    text-align: center;
    color: #ffffff;
    margin: 10px;

}

/* Game area */

main {
    background-color: #217479;
    width: 90%;
    padding: 20px 0 20px 0;
    text-align: center;
    margin: 20px auto;
}

.game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 90%;
    min-height: 500px;
    margin: 0 auto;
}

.new_game {
    background-color: #0c2829;
    color: #ffffff;
    padding: 20px 50px 20px 50px;
    margin: 30px auto 10px auto;
    display: inline-block;
    font-size: 1em;
    text-align: center;
    border-radius: 10px;
}

.new_game:hover {
    background-color: #1A5458;
}

.box {
    height: 100%;
    width: 100%;
    background-color: #0c2829;
    color: #0c2829;
    font-weight: bold;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show {
    background-color: #ffffff;
}

.hide {
    background-color: #0c2829;
}

/* Media query: tablets */

@media screen and (min-width: 640px) {
    .game {
        width: 70%;
    }
}

/* Media query: narrow desktop */

@media screen and (min-width: 900px) {


    .game {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        width: 70%;
    }

}

/* Media query: wide desktop */

@media screen and (min-width: 1200px) {
    main {
        width: 60%;
    }

    .game {
        width: 60%;
    }
}